<div id="wrapper">
    <div class="jumbotron">
        <h1 class="display-3">Note Scraper</h1>
        <p class="lead">Scrape and add comments to your saved articles from Science Magazine!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg scrape-button" herf="#">
                SCRAPE!
            </a>
        </p>
    </div>

    <div id="articles">
        {{#each scrapedArticles}}
            {{> articles/scrape-block}}
        {{/each}}
    </div>

</div>