<div class="card articleDiv">
    <div class="card-header">
        <p class="card-title">
            {{title}}
        </p>
    </div>

    <div class="card-block">
        <p class="card-text">
            {{link}}
        </p>
    </div>
    <button class="save-button btn btn-primary" data-title="{{this.title}}" data-link="{{link}}">
        SAVE!
    </button>
</div>